[submodule "submodules/ProjectTox-Core"]
	path = submodules/ProjectTox-Core
	url = https://github.com/irungentoo/ProjectTox-Core.git
[submodule "submodules/ProjectTox-libtoxdata"]
	path = submodules/ProjectTox-libtoxdata
	url = https://github.com/jencka/ProjectTox-libtoxdata
