language: cpp
compiler:
  - gcc

before_install:
  - wget -O Qt5.1.1.zip https://dl.dropboxusercontent.com/u/20447449/Qt5.1.1.zip
  - mkdir ~/Qt5.1.1
  - unzip -qq Qt5.1.1.zip -d ~/Qt5.1.1
  - sudo chmod -R 777 ~/Qt5.1.1/
  - git clone git://github.com/jedisct1/libsodium.git
  - cd libsodium
  - git checkout tags/0.4.2
  - ./autogen.sh
  - ./configure && make -j3 check
  - sudo make install
  - sudo ldconfig
  - cd ..

script:
  - ~/Qt5.1.1/5.1.1/gcc_64/bin/qmake -v
  - ~/Qt5.1.1/5.1.1/gcc_64/bin/qmake -Wall projectfiles/QtCreator/TOX-Qt-GUI.pro
  - make -j3

notifications:
  
  irc: 
    channels:
      - "chat.freenode.net#Tox-Qt-GUI"
    on_success: always
    on_failure: always
    